<section>
    <h2>{{ko.t('welcome:'+displayName)}}</h2>
    <blockquote data-bind="">{{ko.t('welcome:'+description)}}</blockquote>
    <h3>Stuff</h3>
    <ul data-bind="foreach: features">
        <li>{{ko.t('welcome:'+$data)}}</li>
    </ul>
    <div class="alert alert-success">
      <h4><!-- import name="text!views/imports/imported.html!export" path="again.stuff" --></h4>
      <h4><!-- import path="again.otherStuff" name="text!views/imports/imported.html!export" --></h4>
      <h4><!-- import name="text!views/imports/imported.html" --></h4>
    </div>
</section>